body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  /* max-width: 100vw; */
  height: auto;
}

.header {
  position: fixed;
  background-color: #002633;
  box-shadow: 0px 2px 6px rgba(46, 50, 51, 0.4);
  height: 50px;
  width: 100vw;
  margin:0;
}

.sidebar_on .header {
  width: 75vw;
  right:0;
}

.sitelist_container {
  height: 100vh;
  overflow-y: scroll;
  padding: 50px 0 160px 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sidebar_on .sitelist_container {
  width: 75vw;
  float: right;
}

.sitelist_container::-webkit-scrollbar {
  display: none;
}

.menu_button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.menu_icon {
  height: 16px;
  margin: 17px 23px;
  float: left;
  cursor: pointer;
}

.user_icon {
  width:20px;
  margin: 20px 25px 20px 0;
  background-color: linear-gradient(0deg, #FFFFFF, #FFFFFF), #293033;
  float: right;
  cursor: pointer;
}

.search_icon {
  height: 19.64px;
  margin: 15.36px 17.5px 15px;
  float: right;
}

.ring_icon {
  height: 19.5px;
  margin: 15px 15.5px;
  float: right;
}

.overview_header_text {
  width: auto;
  height: 24px;
  margin: 13px 0;

  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height */

  align-items: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;
  float: left;
}

.siteoverview_container {
  margin: 20px;
  margin-top: 80px;
  margin-bottom: 0;
  width: calc(100% - 40px);
  height: 653px;
  border-radius: 3px;
}

.siteoverview_head_container {
  align-self: stretch;
  padding: 20px;
  width:100%;
  height: 104px;
  background:  radial-gradient(100% 189.47% at 100% 100%, #3274CD 0%, #10327A 100%)
}

.siteoverview_subhead {
  width: 29px;
  height: 21px;
  margin: 1.5px auto 5.5px 10px;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;
}

.siteoverview_caseId {
  float: left;
  width: calc((157/280)*100%);
  height: 32px;
  left: 0px;
  margin: 0 0 4px 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  /* identical to box height */
  color: #FFFFFF;
}

.siteoverview_button {
  width: 87px;
  height: 34px;
  float: right;
  /* position: static; */
  /* width: 85px;
  height: 32px; */
  padding:4px 10px;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  color: #FFFFFF;
  background:transparent;
  border: #FFFFFF 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

.siteoverview_body_container {
  width: 100%;
  height: 549px;
  padding: 10px 0;
  border-width: 0 1px 1px 1px;
  border-color: rgba(23, 25, 26, 0.1);
  border-style: solid;
  background-color: #FFFFFF;
}

.siteoverview_info_container {
  width: calc(100%-40px);
  height: 61px;
  padding-bottom: 10px;
  margin: 10px 20px 0 20px;
  border-width: 0 0 1px 0;
  border-color: rgba(23, 25, 26, 0.1);
  border-style: solid;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}

.siteoverview_info_key {
  float: left;
  width: calc((50/278)*100%);
  height: 20px;
  left: 0px;
  margin:15px 0;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.05em;
  color: rgba(41, 48, 51, 0.6);
}

.siteoverview_info_value {
  float: left;
  height: 30px;
  margin:10px auto 10px 30px;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */

  align-items: center;
  letter-spacing: 0.01em;
  color: rgba(23, 25, 26, 0.9);
}

.siteoverview_info_unit {
  float: right;
  width: 40px;
  height: 30px;
  margin: 10px 0 10px auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(23, 25, 26, 0.6);
}

.basicdata_button {
  color:#1470CC;
  border-color: #1470CC;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 3px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  background-color: #FFFFFF;
  width: 240px;
  height: 40px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.05em;
  margin: 10px calc(50% - 119px) 40px calc(50% - 119px);
  padding-top: 5px;
  cursor: pointer;
}

.sideBar_wrapper {
  left: 0;
  top: 0;
  width: 25vw;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  float: left;
  display: none;
  z-index: 3;
}

.sidebar_on .sideBar_wrapper {
  display: block;
}

.sideBar_container {
  left: 0;
  top: 0;
  width: 25vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(0deg, #00404D, #00404D), linear-gradient(0deg, #F0EFED, #F0EFED), #FFFFFF;
  border-radius: 3px;
}

.sideBar_header {
  height: 50px;
  background: #002633;
  box-shadow: 0px 2px 6px rgba(46, 50, 51, 0.4);
}

.sideBar_logo {
  float: left;
  margin: 10px 20px;
  width: 30px;
  cursor: pointer;
}

.sideBar_item_container {
  width: calc(100% - 30px);
  height: 71px;
  padding: 23px 0;
  margin-left: 30px;
  border-bottom:  rgba(255, 255, 255, 0.3);
  border-width: 0 0 1px 0;
  border-style: solid;
  background-color: #00404D;
}

.sideBar_item_p {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 120px;
  margin: 0;
  cursor: pointer;
  align-items: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.siteManage_Header_container {
  padding: 37px 40px 20px 40px;
  height: 160px;
  width: 100vw;
  margin: 50px 0 0 0;
  position: fixed;
  background-color: white;
}

.siteManage_divider {
  width: calc(100% - 80px);
  height: 1px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(23, 25, 26, 0.4);
  position: fixed;
  top: 199px;
  right: 40px;
}

.siteManage_Header_siteId {
  width: 208px;
  height: 53px;
  margin: 0 calc(288/439*100%) 24px 0;
  float: left;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  color: rgba(23, 25, 26, 0.9);
  /* identical to box height */
  
  align-items: center;
}

.siteManage_Header_search_icon {
  position: absolute;
  width: 20px;
  float: right;
  margin: 7px 0 27px 0;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.siteManage_bookmark {
  width: auto;
  height: 36px;
  float: left;
  margin-right: 20px;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height */

  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: rgba(23, 25, 26, 0.9);
  cursor: pointer;
}

.siteManage_bookmark_on {
  line-height: 24px;
  border-width: 0 0 2px 0;
  border-color: #17191A;
  border-style: solid;
}

.siteManage_Header_moreInfo_icon {
  width: 20px;
  height: 4px;
  margin: 12px 0;
  float: right;
  cursor: pointer;
}

.siteManage_container {
  width: 100%;
  float: right;
}

.siteManage_body_container{
  padding: 190px 35px 90px 35px;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.siteManage_body_container::-webkit-scrollbar {
  display: none;
}

.siteManage_body_subcontainer {
  width:100%;
  height: fit-content;
  margin-top: 43px;
}

.siteManage_body_item_header {
  height: 24px;
}

.siteManage_body_title {
  margin: 0 0 8px 5px;
  float:left;
  height: 24px;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height */

  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: rgba(23, 25, 26, 0.9);
}

.siteManage_body_option {
  margin: 0 15px 8px 0;
  float:right;

  height: 24px;
  bottom: 3px;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #1470CC;
  cursor: pointer;
}

.siteManage_body_basicItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #D9D7D4;
  border-width: 1px;
  border-radius: 3px;
  margin: 5px;
}

.siteManage_body_sampling_container {
  flex-direction: row;
}

.siteManage_body_sampling_info {
  margin: 5px;
  flex: 1;
}

.siteManage_body_paraItem {
  width: 100%;
  height: 105px;
  border-style: solid;
  border-color: #D9D7D4;
  border-width: 1px;
  border-radius: 3px;
  margin: 5px 0;
}

.siteManage_body_item_companyName {
  flex:1;
  float: left;
  height: 24px;
  margin: 0 0 0 20px; 

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  /* identical to box height */

  align-items: center;
  letter-spacing: 0.02em;
  color:  rgba(23, 25, 26, 0.9);
}

.siteManage_body_item_container {
  flex: 1;
}

.siteManage_body_item_name {
  flex:1;
  height: 24px;
  margin: 13px 0 14px 20px; 

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height */

  align-items: center;
  letter-spacing: 0.02em;
  color: rgba(41, 48, 51, 0.9);
}

.siteManage_body_item_info {
  margin:0 0 0 20px;
  float: left;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  /* identical to box height, or 133% */

  align-items: center;
  letter-spacing: 0.02em;
  color: rgba(23, 25, 26, 0.9);
}

.siteManage_body_item_systemData_container {
  flex: 1;
  flex-direction: column;
}

.siteManage_body_item_systemData {
  margin:0 0 0 20px;
  float: left;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 133% */

  align-items: center;
  letter-spacing: 0.02em;
  color: #293033;
}

.siteManage_body_item_systemData_alert {
  margin:0 0 0 20px;
  float: left;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 133% */

  align-items: center;
  letter-spacing: 0.02em;
  color: #E53A17;
}

.siteManage_body_item_systemInfo {
  max-width: calc(100% - 130px);
  padding: 0 5px;
  height: auto;
  
  float: right;
  margin-right: 20px;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  border-width: 1px;
  border-style: solid;
  border-color: #29303380;
  border-radius: 3px;
}

.siteManage_body_item_systemInfo_alert {
  max-width: calc(100% - 130px);
  padding: 0 5px;
  height: auto;

  float: right;
  margin-right: 20px;
  color: #E53A17;
  border-color: #E53A17;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  border-width: 1px;
  border-style: solid;
  border-color: #29303380;
  border-radius: 3px;
}

.siteManage_body_item_unit {
  float: right;
  width: 40px;
  height: 23px;
  margin-right: 20px;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  border-width: 1px;
  border-style: solid;
  border-color: #29303380;
  border-radius: 3px;
}

.siteManage_paralight_blue {
  width: 12px;
  height: 12px;
  margin: 19px 10px 30px 20px;
  float: left;

  background: #26ACD9;
  border-radius: 2px;
}

.siteManage_paralight_red {
  width: 12px;
  height: 12px;
  margin: 19px 10px 30px 20px;
  float: left;

  background: #E53A17;
  border-radius: 2px;
}

.siteManage_body_item_descr {
  margin: 70px 0 0 10px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 21px;
  line-height: 20px;
  color: rgba(23, 25, 26, 0.5);
}

.siteManage_body_item_sampleTime {
  height: fit-content;
  margin: 9px 0 0 10px;

  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  align-items: center;

  color: rgba(23, 25, 26, 0.9);
}

.siteManage_body_CCTVImg {
  margin: 5px;
  width: calc(100% - 10px);
  height: auto;
}

.siteManage_body_CCTVtxt {
  position: absolute;
  top: 79%;
  left: 10%;
  color: transparent;
}

.sidebar_on .siteManage_container {
  width: 75vw;
  float: right;
}

.siteManage_chartBottom_container {
  display: flex;
  flex-direction: row;
}

.siteManage_chart_dataSelector_container {
  flex: 6;
  padding: 10px calc(30% - 90px);
}

.siteManage_chart_timeSelector_container {
  flex: 4;
  padding: 10px calc(20% - 61px);
}

.siteManage_EuiSelect {
  height: 40px;
  padding: 10px;
}

.siteManage_SiRAS_table_container {
  margin: 250px 40px 40px 40px;
  display: flex;
  flex-direction: column;

  border: 1px solid #D9D7D4;
  border-radius: 3px;
}

.siteManage_SiRAS_table_header {
  display: flex;
  flex-direction: row;
  background: #1470CC;
  height: 50px;
  border-radius: 3px 3px 0 0;
}

.siteManage_SiRAS_table_header_txt {
  flex:1;
  display: flex;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;
  height: 100%;
  width: 21.5%;
  padding: 0 5px;
}

.siteManage_SiRAS_table_bodyrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70px;

  border: solid #D9D7D4;
  border-width: 0 0 1px 0;
}

.siteManage_SiRAS_table_bodyrow_SiRAS {
  display: flex;
  flex: 1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.02em;

  /* 主色/亮藍色 */

  color: #1470CC;
  height: 100%;
  width: 21.5%;
  padding: 0 5px;
}

.siteManage_SiRAS_table_bodyrow_info {
  display: flex;
  flex: 1;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  letter-spacing: 0.02em;

  color: rgba(23, 25, 26, 0.9);
  height: 100%;
  width: 21.5%;
  padding: 0 10px;
}

.siteManage_SiRAS_PageList_container {
  width: 180px;
  position: absolute;
  right: 40px;
  padding-bottom: 93px;
}

.siteManage_SiRAS_page_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: right;
}

.siteManage_SiRAS_page_container button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.siteManage_SiRAS_page_on {
  display: flex;
  width: 40px;
  padding: 5.5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  align-items: center;
  letter-spacing: 0.05em;
  text-decoration-line: underline;

  color: #1470CC;
}

.siteManage_SiRAS_page_off {
  display: flex;
  width: 40px;
  padding: 5.5px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(23, 25, 26, 0.5);
}

.siteManage_SiRAS_Nextpage_button {
  float: right;
  background: #1470CC;
  border-radius: 3px;
  width: 40px;
  height: 30px;
  
}

@media screen and (max-width: 580px) {
  .siteManage_body_item_systemData_container {
    align-self: center;
  }

  .siteManage_body_item_systemData {
    float: none;
    display: flex;
    flex: 1;
    width: fit-content;
    margin: 0 0 10px 0;
    max-width: none;
  }

  .siteManage_body_item_systemData_alert {
    float: none;
    display: flex;
    flex: 1;
    width: fit-content;
    margin: 0 0 10px 0;
    width: 110px;
    height: 23px;
  }

  .siteManage_body_item_systemInfo {
    float: none;
    display: flex;
    flex: 1;
    width: fit-content;
    margin: 0 0 10px 0;
    padding: 2px 5px;
    max-width: none;
  }

  .siteManage_body_item_systemInfo_alert {
    float: none;
    display: flex;
    flex: 1;
    width: fit-content;
    margin: 0 0 10px 0;
    padding: 2px 5px;
    max-width: none;
  }
}

@media screen and (max-width: 500px) {
  .siteManage_body_sampling_container {
    flex-direction: column;
  }

  .siteManage_body_sampling_info {
    flex: 0.5;
    align-self: center;
  }

  .siteManage_body_item_descr {
    margin: 10px 45px;
  }

  .siteManage_body_item_container {
    align-self: center;
    width: 100%;
  }

  .siteManage_body_item_companyName {
    float: none;
    margin: 0 0 10px 0;
    text-align: center;
  }

  .siteManage_body_item_info {
    float: none;
    margin: 0 0 10px 0;
    text-align: center;
  }

  .siteManage_body_item_unit {
    float: none;
    margin: 0 calc(50% - 20px) 10px calc(50% - 20px);
  }

  .siteManage_chartBottom_container {
    flex-direction: column;
    align-self: center;
  }
  
  .siteManage_chart_dataSelector_container {
    flex: 1;
    padding: 0;
  }
  
  .siteManage_chart_timeSelector_container {
    flex: 1;
    padding: 0;
  }

  .sidebar_on .siteManage_container {
    width: 100vw;
  }

  .sideBar_container {
    width: 126px;
  }
}
